<!DOCTYPE html>
<html>
<head>
  <title>Oh Hai!</title>
</head>
<body>
<h1>Lets add a task!</h1><br>
<form action = '/' method = 'post'>
  <div>
    <input type = 'text' name = 'task'>
  </div>
  <div>
    <button type = 'submit'>Create task</button>
  </div>
</form>
</body>
</html>