<!DOCTYPE html>
<html>
<head>
  <title>Oh Hai!</title>
</head>
<body>
<h1>Welcome!</h1><br>
<a href="new_task">Add a task</a><br>
<% tasks.each do |task| %>
  <%= task %><br>
<% end %>
</body>
</html>